################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BND/.vs
/BND/packages
/BND/Sistemizate.API/bin
/BND/Sistemizate.API/obj/Debug
/BND/Sistemizate.API/Sistemizate.API.csproj.user
/BND/Sistemizate.API/Web.Debug.config
/BND/Sistemizate.API/Web.Release.config
/BND/Sistemizate.DB/obj/Debug
